/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
q:before,q:after {
	content:'';
}

/* Basic styles */

html, body {
    height: 100%;
	overflow: hidden;
	max-width: 1920px;
	margin: 0 auto;
	background-color: #000;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6, p, span {
    color: #eee;
    font-family: 'Montserrat';
}

br {
	display: block;
	content: "";
	margin: 0;
}

/* HEADER section styles */

#header {
    position: relative;
    z-index: 100;
    max-width: 100%;
}

#header-line {
    position: absolute;
    max-width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

#hidden-x {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	opacity: 0;
	cursor: pointer;
}

#hidden-x h1 {
	padding: 0;
	margin: 10px 20px;
	color: #fff;
}

/* Main section styles */

main {
	display: flex;
	justify-content: center;
	margin: 0 auto;
    max-width: 1920px;
}

.outer-div {
	display: flex;
    align-items: flex-start;
	max-height: 100%;
	width: 320px;
	max-width: 1600px;
}

.images {
	max-height: 100%;
	position: relative;
    cursor: pointer;
	max-width: 320px;
}

.image-grey {
	position: relative;
	z-index: 2;
	width: 100%;
	max-width: 320px;
}

.image-color {
	position: absolute;
	left: 0;
	z-index: 1;
	width: 100%;
	max-width: 320px;
}

.content {
	width: 0;
    display: none;
    height: 100%;
	max-width: 1280px;
	background-image: url("../images/content_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	max-height: 100%;
	justify-content: center;
	align-items: center;
}

.content-inner {
	max-width: 80%;
}

#aboutus-inner {
	background-image: url("../images/aboutus_text_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 20px;
}

#aboutus-inner p {
	line-height: 1.4rem;
	margin: 30px;
}

#aboutus-inner p:last-child {
	margin-top: 50px;
}








